/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #0d4c8f;
}

nav{
    font-size: 25px;
    font-weight: 500;
    color: #b7b4b4;
    padding: 15px 30px;
    border: 20;
    border-radius: 5px;
    background: rgb(17, 100, 123);
    cursor: pointer;
}
.nav-link {
    text-align: center;
}
.nav-link {
    color: #eff7ff;
    background: rgb(17, 100, 123);
}
input{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    padding: 5px 10px;
    border: 10;
    border-radius: 5px;
    margin-bottom: 10;
    background: rgb(151, 181, 189);
    cursor: pointer;
}
p {
    font-size: 20px;
    font-weight: 500;
}
a{
    font-size: 20px;
    font-weight: 500;
    color: #b7b4b4;
    padding: 5px 10px;
    border: 10;
    border-radius: 5px;
    background: rgb(17, 100, 123);
    cursor: pointer;
}

button {
    font-size: 15px;
    font-weight: 500;
    color: #b7b4b4;
    padding: 5px 10px;
    border: 10;
    border-radius: 5px;
    background: rgb(17, 100, 123);
    cursor: pointer;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
